<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>

<style>
    .container {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
    }
</style>

<body>
    <div>
        <div class="text-lg bg-slate-100 container">
            Welcome to dashboard
            <p>You have successfully logged in</p>
            <div>This is my personal profile</div>
        </div>
    </div>


</body>

</html>